<div class="row">
    <div class="col-12">
        <div *ngIf="hero">
            <h2>{{hero.name | uppercase}} Details</h2>
            <div><span>id: </span>{{hero.id}}</div>
            <div>
                <label>name:
                    <input [(ngModel)]="hero.name" placeholder="name" />
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary btn-sm mr-1" (click)="goBack()">Back</button> 
        <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
    </div>
</div>