<h2>My Heroes</h2>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let hero of heroes">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">{{hero.id}}</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username"
                value="{{hero.name}}" disabled>
            <div class="input-group-append">
                <a class="btn btn-secondary" routerLink='/detail/{{hero.id}}'>
                    <fa-icon icon="eye"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>Add new Hero</h3>
        <div class="input-group">
            <input #heroName class="form-control" placeholder="Hero Name" />
            <div class="input-group-append">
                <button class="btn btn-primary" (click)="add(heroName.value); heroName.value=''">add</button>
            </div>
        </div>
    </div>
</div>